.left {
  width: 24vw;
  padding: 11px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
  gap: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo img {
  width: 85px;
  height: 30px;
}

.home ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 14px;
  font-size: 16px;
  padding-top: 4px;
  font-weight: 500;
}

.home ul li img {
  width: 25px;
  height: 25px;
}

.p-1 {
  padding: 10px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  font-size: 16px;
  padding: 23px 14px;
  font-weight: 500;
}

.library {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  overflow: hidden;
  min-height: 70vh;
  font-size: 18px;
  color: white;
  font-weight: 600;
  position: relative;
}

.songList {
  flex: 1;
  height: 644px;
  overflow: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 10px;
  border-top: 1px solid #333;
  padding: 20px 10px;
}

.footer a {
  font-size: 11px;
  color: rgb(179, 179, 179);
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

.close {
  display: none;
}

@media (max-width: 1400px) {
  .left {
    background-color: black;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
    width: 302px;
    padding: 0;
  }

  .left.open {
    left: 0;
  }

  .close {
    display: block;
    width: 70px;
    position: absolute;
    left: 252px;
    top: 15px;
    cursor: pointer;
  }
}
