.songList ul {
  padding: 0px 2px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  gap: 8px;
  cursor: pointer;
  margin: 1vw 0;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.songList ul li:hover {
  background-color: rgb(64, 63, 63);
}

.songList ul li img {
  width: 25px;
  height: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  flex: 1;
}

.info div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  line-height: 1.2;
  font-size: 14px;
}

.info div:first-child {
  color: white;
  font-weight: 500;
}

.info div:last-child {
  color: #b3b3b3;
  font-size: 12px;
}

.playnow {
  display: flex;
  gap: 8px;
  font-size: 13px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.playnow img {
  width: 20px;
  height: 20px;
}
