* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #1f1f1f;
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.invert {
  filter: invert(1);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
